* {   /*전체 설정*/
    margin: 0;
    padding: 0;
}

.main_title {
    text-align: center;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.menu {
    padding: 50px 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1450px;
}

.navigation_menu,
.profile,
.search_box {
    display: inline-block;
    vertical-align: middle;
}

.navigation_menu {
    padding-left: 30px;
    padding-right: 30px;
}

.profile {
    border: 1px solid green;
    border-collapse: separate;
    border-spacing: 5px;
    padding: 15px;
    width: 250px;
}

.nickname {
    line-height: 60px;
}

.profile label {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.id_txt {
    height: 20px;
    width: 150px;
    margin-bottom: 5px;
}

.pw_txt {
    height: 20px;
    width: 150px;
}

.login_btn {
    background-color: green;
    color: white;
    font-weight: bold;
    border-color: transparent;
    font-size: 14px;
    padding: 1px 5px;
    height: 27px;
}

.login_btn:hover {
    cursor: pointer;
}

#logout {
    border: transparent;
    background-color: transparent;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    color: #6d6d6d;
}

#logout:hover {
    text-decoration: underline;
}

#nickname {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.sign_up {
    margin-top: 15px;
    text-align: left;
    font-size: 13px;
    color: #6d6d6d;
}

.sign_up:hover {
    text-decoration: underline;
}

.navigation_menu ul {
    background-color: green;
    width: 800px;
    height: 50px;
    /* margin: 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

.navigation_menu li {
    display: inline;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation_menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search_txt {
    height: 25px;
    width: 170px;
}

.search_btn {  /*검색 버튼*/
    background-color: green;
    color: white;
    border-color: transparent;
    font-size: 14px;
    padding: 3px 5px;
    height: 30px;
}

.search_btn:hover {
    cursor: pointer;
}

table {  /*테이블 테두리 스타일*/
    border-collapse: collapse;
}

caption {  /* Hide table caption */
    display: none;
}

a {  /* Set link styles */
    text-decoration: none;
    color: inherit;
}

.container {  /* Set board list wrapper styles */
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
}

.board_title {
    margin-bottom: 50px;
}

.table {  /* Set board list styles */
    width: 100%;
    border-top: 2px solid green;
}

.table tr {  /* Set row border styles */
    border-bottom: 1px solid #ccc;
}

.table th,
.table td {  /* Set cell padding and font size */
    padding: 10px;
    font-size: 14px;
}

.table td {  /* Center text in table cells */
    text-align: center;
}

.table .tit {  /* Align text to the left in title cells */
    text-align: left;
}

.table .tit:hover {  /* Add underline to title cells on hover */
    text-decoration: underline;
}

.table .post_num {
    width: 100px;
}

.table .post_title {
    width: 1000px;
}

.table .post_writer {
    width: 200px;
}

.table .post_action {
    width: 80px;
}

.table .post_action_td {
    font-size: 11px;
}

.container .paging {  /* Set pagination wrapper styles */
    margin-top: 50px;
    text-align: center;
    font-size: 0;
}

.container .paging .paging_num button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 9px;
    border-radius: 100px;
    font-size: 12px;
    border: transparent;
    background-color: transparent;
    color: green;
    font-weight: 600;
}

.container .paging .paging_num button:hover {
    cursor: pointer;
}

.container .paging a {  /* Set pagination link styles */
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}

.container .paging a:first-child {  /* Remove left margin for the first pagination link */
    margin-left: 0;
}

.container .paging .first_page,
.container .paging .before_page,
.container .paging .next_page,
.container .paging .last_page {  /* Set button link styles */
    display: inline-block;
    margin-left: 10px;
    padding: 5px 9px;
    border-radius: 100px;
    font-size: 12px;
    border: 1px solid #eee;
    background: #eee;
}

.container .paging .first_page:hover,
.container .paging .before_page:hover,
.container .paging .next_page:hover,
.container .paging .last_page:hover {
    cursor: pointer;
}

.container .paging a.num {  /* Set number link styles */
    font-weight: 600;
    color: green;
}

.container .paging a.num.on {  /* Set active number link styles */
    background: green;
    color: #fff;
}

.container .paging_num {
    margin-left: 10px;
    margin-right: 10px;
}

.guide {
    padding: 50px;
    font-size: 10px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
}

#write {
    margin-top: 15px;
    border: transparent;
    width: 70px;
    height: 30px;
    background: green;
    color: white;
    font-size: 17px;
    font-weight: bold;
    float: right;
}

#write:hover {
    cursor: pointer;
}