* {
    margin: 0;
    padding: 0;
}

.main_title {
    text-align: center;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.menu {
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1400px;
}

.navigation_menu {
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation_menu ul {
    background-color: green;
    /* width: 800px; */
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

.navigation_menu li {
    display: inline;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation_menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.write_title {
    margin-bottom: 50px;
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

#title {
    height: 40px;
    width: 1000px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    height: 400px;
    width: 1000px;
    font-size: 15px;
    padding: 10px;
    resize: none;
}

.post_btn {
    text-align: right;
}

#post_btn_id {
    margin-top: 15px;
    border: transparent;
    width: 80px;
    height: 40px;
    background: green;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

#post_btn_id:hover {
    cursor: pointer;
}