<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Review Detail</title>
  <meta charset="UTF-8">
</head>
<body>
<div>
  <h1>Review Detail</h1>
  <div th:if="${review != null}">
    <h2 th:text="${review.title}"></h2>
    <p>Written by <span th:text="${review.writer}"></span></p>
    <p th:text="${review.content}"></p>
    <p>Book ID: <span th:text="${review.book.title}"></span></p>
  </div>
  <div th:if="${review == null}">
    <p>No review found.</p>
  </div>
</div>
<div>
  <a href="/reviewBoard">Back to Review Board</a>
</div>
</body>
</html>
